PORT=4000
MONGO_URI=coloca_tu_cadena_de_conexion_mongodb
JWT_SECRET=coloca_una_clave_segura
WHATSAPP_NUMBER=51936649135
NODE_ENV=development

FRONTEND_URL=http://localhost:5173

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=soporte.smika@gmail.com
EMAIL_PASS=coloca_tu_contraseña_de_aplicacion_sin_espacios
EMAIL_FROM="Smika Dev Support <soporte.smika@gmail.com>"
EMAIL_REPLY_TO=soporte.smika@gmail.com

GOOGLE_CLIENT_ID=coloca_tu_google_client_id